@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

section{
  padding: 90px 0 0;
}
.about_container{
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
  column-gap: 0;
  align-items: center;
}
.section_title{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 0.8;
  color: #222;
  position: relative;
  margin-bottom: 30px;
  /* padding-bottom: 20px; */
}
.about_content h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;

}
.about_content p{
  color: #333;
  margin: 20px 0 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.about_info{
  display: flex;
  column-gap: 20px;
  margin-top: 40px;
}
.about_info > div{
  text-align: center;
  border: 2px dashed;
  border-radius: 10px;
  padding: 10px 15px;
  width: 40%;
}
@media screen and (max-width:962px) {
  .about_content p{
    font-size: 12px;
  }
}

@media screen and (max-width:760px) {
  .about_container{
    grid-template-columns: 3fr 2fr;
  }
  .about_content p{
    font-size: 12px;
  }
}

@media screen and (max-width: 696px) {
  .about_container{
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .about_info{
    justify-content: center;
  }
  .about_img img{
    padding-left: 40px;
  }
  .about_content{
    padding-left: 40px;
  }
  .section_title{
    padding-left: 40px;
  }
  .about_content p{
    font-size: 15px;
  }
}