.footer_bg{
  /* background-color: aliceblue; */
  padding-top: 30px;
}
.footer_container{
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;
  text-align: center;
}
.main_footer{
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(219,219,219);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: black;
}
.footer_social{
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.footer_social a{
  background-color: #fff;
  color: #222;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.footer_social a:hover{
  background-color: #ffe0c3ea;
}
.footer_copywrite{
  padding: 20px 0;
  color: black;
}